.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
body {
  background-color: #282c34;
}
.text-color {
  color: #41CD7D;
}
.options span {
  color: #9499cf;
}
.options a {
  border-bottom: 2px solid #41CD7D;
  color: #41CD7D;
}