* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
body {
  background-color: #282c34;
}
.text-color {
  color: #41CD7D;
}
.options span {
  color: #9499cf;
}
.options a {
  border-bottom: 2px solid #41CD7D;
  color: #41CD7D;
}
.form {
  width: 500px;
  min-width: 300px;
}



